body, html{
	background-color: white;
	height: 100%;
	width:  100%;
}

.container{
	display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-gap: 5%;
    grid-template-rows: auto auto auto auto auto;
}



#displayDiv {
	background-color: #000;
	height: 0;
	width: 100%;
	padding-bottom: 100%;
	border: 8px;
	border-style: groove;
	border-color: black;
	grid-column: 2;
	grid-row: 1;
}

#sliderDiv{
	background-color: white;
	height: 0;
	width: 100%;
	padding-bottom: 100%;
	grid-column: 2;
	grid-row: 2;
}

.slider{
		gridcolumn: 3;
}

.sliderEntry{
		gridcolumn: 2;
}

.sliderLabel{
		gridcolumn: 1;
		font-style: ;
}


#RSlider{
	grid-row: 1;
}

#GSlider{
	grid-row: 2;
}

#BSlider{
	grid-row: 3;
}

#RText{
	grid-row: 1;
}

#GText{
	grid-row: 2;
}

#BText{
	grid-row: 3;
}

#hexText{
	grid-row: 4;
}

#RSign{
	grid-row: 1;
}

#GSign{
	grid-row: 2;
}

#BSign{
	grid-row: 3;
}

#hexSign{
	grid-row: 4;
}